<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Weather Web App</title>
</head>
<body>
    <center>
        <h2>Weather Web App</h2>
        <br />
        <lable>Get Weather</lable>
        <form action="/getWeather" method="get">
            <input type="text" placeholder="Enter city" name="city" required>
            <br><br>
            <button type="submit">Get Weather</button>
        </form>

        <br /><hr /><br />
        <a href="displayAllWeather">Display All Weather</a>

        <br /><hr /><br />
        <a href="updateCity">Add / Update City</a>
    </center>
</body>
</html>